<!DOCTYPE html>
<html lang="en">

<head>
  <title>Overview of Venk Lab Mice</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" type="text/css" />


<script src="./static/jquery-3.2.0.min.js"></script>
<link rel="stylesheet" href="./static/jquery-ui.min.css" type="text/css" />
<script src="./static/jquery-ui.min.js"></script>
<script src="./static/bootstrap/js/bootstrap.min.js"></script>
<script src="./static/d3.v3.min.js"></script>

<link rel="stylesheet" href="./static/style.css" type="text/css" />
<link rel="stylesheet" href="./static/print.css" type="text/css" />
<script src="./static/jcmsui.js"></script>
</head>

<body>

<div class="container">
  <h2>Overview of Venk Lab Mice</h2>
  {% block body %}{% endblock %}
</div>

<!-- Modal for display mouse detail -->
  <div class="modal" id="mouseModal" role="dialog">
    <div class="modal-dialog ">

      <!-- Modal content-->
      <div class="modal-content" id="spModal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-title">
            <div id="mouseDetailTitle"></div>
          </div>
        </div>

        <div id="mouseDetail"></div>

      </div>
    </div>
  </div>

<!-- Modal for alert -->
  <div class="modal" id="alertModal" role="dialog">
    <div class="modal-dialog ">

      <!-- Modal content-->
      <div class="modal-content" id="spModal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-title">
            <div id="alertDetailTitle"></div>
          </div>
        </div>

        <div id="alertDetail"></div>

      </div>
    </div>
  </div>



</body>
</html>
