{
    "sitename": "JCMS UI",

    "port": 8001,

    "db_host": "db",
    "db_name": "jcms_db",
    "db_user": "_jcmsWeb",
    "db_pass": "jcms",

    "redis_host": "redis",
    "redis_port": "6379"
}
